:root {
	--primary-color: #00b289;
	--second-color: #f8db62;
	--black-color: #4c4d5f;
	--white-color: #f2f2f2;
	--greey-color: #d9d9d9;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	font-family: "Open Sans", sans-serif;
	font-size: 62.5%;
	background-color: #f9f9f9;
}
body {
	width: 100%;
	padding: 12px;
}

main {
	height: auto;
	padding: 16px;
}
