@import "default.css";

header {
	width: 100%;
	height: 90px;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-row: 80px;
	grid-template-areas: "logo items buttons";
	/* border: 1px solid red; */
}
header .burger-menu {
	display: none;
}
figure {
	grid-area: "logo";
	background-image: url("/pictures/bonsai-high-resolution-logo-transparent.webp");
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.header__items-nav {
	grid-area: "items";
	color: var(--black-color);
	font-size: 1.5rem;
	font-weight: 400;
	/* border: 1px solid blue; */
}

.header__items-nav ul {
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
ul li {
	list-style: none;
	/* border: 1px solid; */
	width: auto;
	height: 30px;
	display: inline-flex;
	align-items: center;
}
li span {
	margin-top: 3px;
}
.header__buttons {
	/* border: 1px solid red; */
	grid-area: "buttons";
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.header__buttons button {
	width: auto;
	height: 32px;
	padding: 8px;
	border: 2px solid var(--primary-color);
	border-radius: 4px;
	display: inline-flex;
	align-items: center;
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 1px;
}

.header__buttons--login {
	background-color: transparent;
}
.header__buttons--start {
	background-color: var(--primary-color);
	color: var(--white-color);
}

/**/

.plans-cards {
	height: auto;
	/* border: 2px solid peru; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.plans-cards .plans-cards__details {
	display: flex;
	justify-content: space-between;
	/* border: 1px solid red; */
	height: 96px;
	width: 80%;
	/* margin: 0 auto;
	padding: 8px; */
}

.plans-cards__details h2 {
	/* border: 1px solid; */
	font-size: 1.8rem;
	font-weight: 500;
	display: inline-flex;
	height: 100%;
	align-items: center;
	letter-spacing: 5px;
}

.plans-cards__details .plans-cards__details__settings {
	/* border: 1px solid burlywood; */
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: end;
	padding: 0 16px 0 16px;
}

.plans-cards__details__settings > span {
	color: var(--primary-color);
	font-weight: 700;
	font-size: 1.2rem;
}

.plans-cards__details__settings div {
	width: 250px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	/* border: 1px solid; */
	padding: 4px 8px 4px 8px;
	font-size: 1.4rem;
}

.plans-cards__details__settings div p:nth-child(1) {
	font-weight: bold;
}

.plans-cards__details__settings div p:last-child {
	color: var(--black-color);
}

/* Ocultar el input */
.switch input {
	display: none;
}

/* Estilo base del switch */
.switch .slider {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 30px;
	border-radius: 30px;
	background-color: var(--primary-color);
	transition: background-color 0.3s ease;
}

/* Estilo del botón deslizante */
.switch .slider::before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 2px;
	bottom: 2px;
	border-radius: 50%;
	background-color: white;
	transition: transform 0.3s ease;
}

/* Cambiar el fondo del switch cuando está activado */
.switch input:checked + .slider {
	background-color: var(--primary-color);
}

/* Mover el botón deslizante al estado activado */
.switch input:checked + .slider::before {
	transform: translateX(30px);
}

.plans-cards__slider {
	width: 100%;
	height: auto;
	/* border: 2px solid royalblue; */
	padding: 12px 0 12px 0;
	margin-top: 16px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
	justify-content: center;
	gap: 40px;
}

.plans-cards__slider .card {
	height: auto;
	background-color: var(--white-color);
	box-shadow: 0px 6px 11px 4px #d9d9d9;
	padding: 24px;
}

.card .icon-money {
	font-size: 1.5rem;
	background-color: transparent;
}
.plans-cards__slider .card h3 {
	font-size: 1.8rem;
	font-weight: 500;
}

.card p {
	display: inline-flex;
	height: 60px;
	width: 100%;
	/* border: 1px solid; */
	font-size: 2.8rem;
	letter-spacing: 3px;
	margin-top: 16px;
	border-bottom: 2px solid var(--primary-color);
}

.card p span:last-child {
	margin-top: 16px;
	font-size: 1.4rem;
	text-transform: uppercase;
}

.card ol {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 8px;
	margin: 16px 0 16px 0;
}

.card ol li {
	display: inline-flex;
	/* border: 1px solid; */
	height: 28px;
	align-items: center;
	list-style: none;
	font-size: 1.5rem;
}

.card ol li :first-child {
	color: var(--primary-color);
	margin-right: 8px;
}

.card button {
	width: 100%;
	height: 40px;
	border-radius: 4px;
	border: none;
	background-color: var(--primary-color);
	color: var(--white-color);
	font-size: 1.7rem;
	text-transform: uppercase;
}

.plan-cards__other-options {
	/* border: 3px solid greenyellow; */
	width: 100%;
	height: auto;
	margin-top: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 12px 0 12px 0;
}

.plan-cards__other-options h2 {
	font-size: 1.8rem;
	font-weight: 400;
	letter-spacing: 2px;
}

.plan-cards__other-options .options-descriptions {
	width: 80%;
	height: auto;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	margin: 16px 0 16px 0;
	background-color: var(--white-color);
	box-shadow: 0px 4px 9px 2px #d9d9d9;
	/* border: 2px solid greenyellow; */
}

.options-descriptions div:first-child {
	margin-left: 16px;
}
.options-descriptions div:last-child {
	margin-right: 16px;
	font-size: 2rem;
	font-weight: 700;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
}

.options-descriptions div h3 {
	font-size: 1.7rem;
	color: var(--black-color);
	font-weight: 500;
	margin: 8px 0 8px 0;
}

.options-descriptions div p {
	font-size: 1.4rem;
	color: var(--black-color);
}

.not-free span:last-child {
	font-size: 1.2rem;
	font-weight: 400;
	color: var(--black-color);
	text-transform: uppercase;
}

.start-now {
	width: 100%;
	height: auto;
	margin-top: 16px;
	display: flex;
	justify-content: center;
}

.start-now div {
	width: 80%;
	height: 150px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px 0 20px;
	background-color: var(--blue-color);
	box-shadow: 0px 4px 7px 2px #d9d9d9;
}
.start-now div p {
	font-size: 1.8rem;
}
.start-now div p .salto-line::after {
	content: "\A";
	white-space: pre;
}

.start-now div button {
	border: none;
	border-radius: 2px;
	padding: 8px;
	font-size: 1.8rem;
	text-transform: uppercase;
}

.comun-questions {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 40px;
}
.comun-questions h2 {
	font-size: 1.8rem;
	font-weight: 400;
	letter-spacing: 2px;
	color: var(--primary-color);
}

.comun-questions div {
	width: 100%;
	height: auto;
	font-size: 1.4rem;
}

.comun-questions div {
	width: 80%;
	/* border: 1px solid red; */
	margin-top: 12px;
}

.comun-questions div details {
	width: 100%;
	/* border: 1px solid green; */
	height: auto;
	color: var(--black-color);
	margin: 16px 0 16px 0;
	padding: 8px;
}
.comun-questions div details summary {
	font-weight: 500;
	letter-spacing: 2px;
}

.comun-questions div details p {
	font-weight: 400;
	letter-spacing: 1px;
	margin-top: 4px;
}

summary {
	list-style: none;
}
summary:hover {
	cursor: pointer;
}

summary span {
	float: right;
}

footer {
	width: 100%;
	height: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(180px, 250px));
	justify-content: center;
	gap: 20px;
	color: var(--black-color);
	margin-top: 36px;
}

footer section h3 {
	font-size: 1.7rem;
	font-weight: 500;
}

footer section ul {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

footer section ul li:hover {
	cursor: pointer;
}
footer .footer-product span {
	color: var(--primary-color);
}
footer section ul .salto-line::after {
	content: "\A";
	white-space: pre;
}

footer .footer-free-resources ul:last-child p {
	font-weight: 500;
	font-size: 1.5rem;
}
