/* @media screen and (max-width: 480px) {
	
} */
header {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-row: 80px;
	grid-template-areas: "logo hamburger-menu";
}
header figure {
	width: 100%;
	grid-area: "logo";
}

header .burger-menu {
	grid-area: "hamburger-menu";
}

header .header__items-nav,
header .header__buttons {
	display: none;
}
